html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
}

.container {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --primary-body-color: #ffffff;
  --primary-color-title: #212121;
  --primary-color-paragraph: #757575;
  --color-link: #2196f3;
  --hero-button-hover: #188ce8;
  --footer-hero-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --header-logo: black;
  --header-web: #2196f3;
  --background-our-team: #f5f4fa;
  --color-icon-header: #757575;
  --background-color-text-img: rgba(33, 150, 243, 0.9);
  --background-color: var(--primary-body-color);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header__main-nav {
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .header__main-nav {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .header__main-nav {
    width: 768px;
    height: 80px;
    padding-top: 21px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__main-nav {
    width: 1200px;
    height: 80px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-top: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}

.btn-mob {
  border: 1px black solid;
  padding: 0px;
  max-width: 40px;
  height: 40px;
  background-color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1600px;
  }
}

.header-list {
  justify-content: center;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header-list-info {
    display: block;
    justify-content: center;
    margin-right: 15px;
    width: 138px;
  }
}

@media screen and (min-width: 1200px) {
  .header-list-info {
    display: flex;
    width: auto;
    align-items: center;
    margin-right: 0px;
  }
}

.header__web {
  color: var(--header-web);
  margin-left: 15px;
}

.header__logo {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--header-logo);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  max-width: 134px;
  height: 28px;
  margin-right: auto;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 26px;
    line-height: 1.19;
    display: block;
  }
}

.header__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.link {
  color: var(--primary-color-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  position: relative;
}

.header__underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-link);
  border-radius: 2px;
  position: absolute;
  top: 38px;
}

@media screen and (min-width: 1200px) {
  .header__underline::after {
    top: 45px;
  }
}

.header__link-icon {
  color: var(--color-icon-header);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-icon:hover, .header__link-icon:focus {
  color: var(--color-link);
}

@media screen and (min-width: 768px) {
  .header__link-icon {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header__link-icon {
    font-size: 14px;
    width: 161px;
  }
}

@media screen and (min-width: 768px) {
  .header-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-mail {
    margin-bottom: 0px;
  }
}

.header__item,
.header__item--active {
  margin-right: 50px;
}

.header__title {
  margin-right: 50px;
  display: none;
  align-items: center;
  flex-direction: row-reverse;
}

.header__title:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .header__title {
    display: block;
    width: 138px;
  }
}

.header__item:last-child {
  margin-right: 0px;
}

.header__item > a:hover,
.header__item > a:focus {
  color: var(--color-link);
}

.header__item > a {
  transition: color 250ms;
}

.header__item > a .link {
  color: var(--primary-color-paragraph);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
}

.header__item--active > .link {
  color: var(--color-link);
}

.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.btn-mob-open {
  padding: 12px 8px;
  background-color: #ffffff;
  border: none;
}

@media screen and (min-width: 768px) {
  .btn-mob-open {
    display: none;
  }
}

.container-mob {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.btn-mobile-close {
  position: absolute;
  padding: 0px;
  border: none;
  top: 21px;
  right: 25px;
  background-color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list {
  list-style: none;
  margin-bottom: auto;
}

.mob-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color {
  color: #2196F3;
}

.mob-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-list {
  list-style: none;
}

.mobile-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
  display: block;
  margin-bottom: 32px;
}

.mobile-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-bottom: 64px;
  display: block;
}

.mob-social {
  list-style: none;
  display: flex;
}

.social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
  margin-right: 10px;
  padding-right: 10px;
}

.border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.hero {
  background-color: var(--footer-hero-background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-img-mob.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-img-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
  }
}

.hero__title {
  color: var(--primary-body-color);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-weight: bold;
  color: var(--primary-body-color);
  background-color: var(--color-link);
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: var(--hero-button-hover);
}

@media screen and (min-width: 1200px) {
  .hero__button {
    margin-right: auto;
    margin-left: auto;
  }
}

.padding-list {
  padding-top: 60px;
  padding-bottom: 30px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .padding-list {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .padding-list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .padding-list {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.list-photo {
  justify-content: center;
  display: flex;
  list-style: none;
}

.list__heading {
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .list__heading {
    max-width: 450px;
  }
}

.list__svg {
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .list__svg {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .list__svg {
    width: 270px;
    height: 120px;
  }
}

.list__svg-antenna {
  max-width: 65.32px;
  height: 70px;
  margin: 25px 102.34px;
}

.list__svg-clock {
  max-width: 66.96px;
  height: 70px;
  margin: 25px 101.5px;
}

.list__svg-diagram {
  max-width: 70px;
  height: 53.69px;
  margin: 33.2px 100px 33.11px 100px;
}

.list__svg-astronaut {
  max-width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.list__text {
  color: var(--primary-color-paragraph);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 15px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .list__text {
    width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .list__text {
    width: 270px;
  }
}

.list__title {
  color: var(--primary-color-title);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  height: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .list__title {
    margin-left: 15px;
    text-align: left;
  }
}

.hiden-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .hiden-container {
    width: 1200px;
    display: block;
    margin-left: 200px;
  }
}

.padding-photo {
  padding-bottom: 94px;
  position: relative;
  display: flex;
}

.photo__margin-img:not(:last-child) {
  margin-right: 30px;
}

.photo__img-info {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  position: absolute;
  bottom: 94px;
}

.photo__info-img {
  text-transform: uppercase;
  color: #ffffff;
  size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.photo__title {
  font-weight: bold;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .photo__title {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.our-team {
  background-color: var(--background-our-team);
}

@media screen and (min-width: 480px) {
  .our-team {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
}

.list-team {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.team-names {
  color: var(--primary-color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  color: var(--primary-color-paragraph);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.padding-team {
  padding: 60px 15px 30px 15px;
}

@media screen and (min-width: 768px) {
  .padding-team {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 15px 45px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .padding-team {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.pfoto-team {
  background-color: var(--primary-body-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .pfoto-team {
    width: 354px;
  }
  .pfoto-team:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .pfoto-team {
    width: 270px;
  }
  .pfoto-team:not(:last-child) {
    margin-right: 30px;
  }
}

.social-networks {
  display: flex;
  border: none;
  max-width: 206px;
  height: 44px;
  list-style: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.box-social {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-social:not(:last-child) {
  margin-right: 10px;
}

.box-social:hover {
  background-color: var(--color-link);
}

.box-social:hover .icon {
  fill: white;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .container-company {
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
}

.company {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 480px) {
  .company {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .company {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .company {
    width: 1200px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.title-company {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title-company {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .title-company {
    font-size: 36px;
  }
}

.list-company {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}

.box-company {
  width: 210px;
  height: 92px;
  margin: 15px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 52px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-company:hover {
  border: 1px solid #2196f3;
}

.box-company:hover .svg-company {
  fill: var(--color-link);
}

@media screen and (min-width: 768px) {
  .box-company {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .box-company {
    max-width: 170px;
    padding: 16px 32px;
  }
}

.svg-company {
  max-width: 106px;
  height: 60px;
  fill: #afb1b8;
  text-align: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  padding: 40px 40px 40px 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  display: block;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background: #ffffff;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  width: 30px;
  height: 30px;
  padding: 8.5px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal:hover {
  fill: var(--header-web);
}

.btn-mobile-close:hover {
  fill: var(--header-web);
}

.dden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-input {
  width: 370px;
  height: 40px;
  left: 576px;
  top: 382px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--color-link);
}

.form-input:focus + .input-icon {
  fill: var(--color-link);
}

@media screen and (min-width: 1200px) {
  .form-input {
    width: 448px;
    height: 40px;
  }
}

.input-text {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 370px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  outline: none;
}

.form-text:focus {
  border-color: var(--color-link);
}

@media screen and (min-width: 1200px) {
  .form-text {
    width: 448px;
    height: 120px;
  }
}

.modal-button {
  width: 200px;
  height: 50px;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
}

.checbox-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
  margin-left: 5px;
}

@media screen and (min-width: 1200px) {
  .checbox-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-left: 5px;
  }
}

.text-checbox {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  text-align: center;
  align-items: center;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .text-checbox {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}

.text-checbox .checkbox-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  display: flex;
  text-align: center;
  align-items: center;
}

.checkbox-icon {
  margin-right: 7px;
}

.form-field {
  margin-bottom: 30px;
  margin-left: 13px;
}

.policy-icon {
  fill: transparent;
  border-radius: 2px;
  border: 1px solid #212121;
  cursor: pointer;
}

.policy-check:checked + .text-checbox .policy-icon {
  border: none;
  background-color: #2196f3;
}

.policy-check:checked + .text-checbox .policy-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    padding-right: 15px;
    width: 352px;
  }
}

.footer-conteiner {
  padding-left: auto;
  padding-right: auto;
  padding-top: 60px;
}

@media screen and (min-width: 480px) {
  .footer-conteiner {
    padding-left: auto;
    padding-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
  }
}

.footer {
  background-color: var(--footer-hero-background-color);
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1600px;
    height: 252px;
    padding-right: 215px;
    padding-left: 215px;
    text-align: left;
  }
}

.list-footer {
  list-style: none;
}

.header-web {
  color: #2196f3;
}

.header-logo-footer {
  color: var(--primary-body-color);
  font-size: 24px;
  line-height: 1.16;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .header-logo-footer {
    font-style: normal;
    height: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo-footer {
    font-size: 26px;
    line-height: 1.19;
    height: 31px;
  }
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-body-color);
  font-style: normal;
  font-weight: normal;
  margin-bottom: 9px;
}

.info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .info {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .list-info {
    margin-left: 124px;
    margin-right: 124px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .list-info {
    text-align: center;
    margin-right: 165px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .list-info {
    width: 232px;
    margin-right: 70px;
    margin-left: 0px;
  }
}

.info-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .info-mail {
    text-align: left;
  }
}

.box-footer {
  max-width: 206px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .box-footer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .box-footer {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .box-footer {
    margin-right: 93px;
  }
}

.title-footer {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .title-footer {
    width: 146px;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-networks-footer {
  display: flex;
  list-style: none;
}

@media screen and (min-width: 480px) {
  .social-networks-footer {
    margin-bottom: 60px;
  }
}

.box-social-footer {
  max-width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-social-footer:hover {
  background-color: #2196f3;
}

.box-social-footer:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 480px) {
  .box-social-footer {
    margin-bottom: 0px;
  }
}

.icon-footer {
  max-width: 20px;
  height: 20px;
  fill: #ffffff;
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-title);
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color-paragraph);
  margin-left: 24px;
  margin-bottom: 20px;
}

.subscription {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-input {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-hero-background-color);
}

@media screen and (min-width: 480px) {
  .subscription-input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .subscription-input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    margin-bottom: 0px;
    margin-right: 12px;
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-box {
    display: flex;
    margin-top: 60px;
  }
}

.button-email {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .button-email {
    margin-top: 36px;
  }
}

.icon-subscription {
  max-width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  background-color: var(--button-background-color);
  color: var(--primary-color-title);
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms, color 250ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--header-web);
  color: var(--primary-body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:last-child {
  margin-right: 0px;
}

.list-button {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .list-button {
    padding: 60px 78px 30px 78px;
  }
}

.btn:not(:last-child) {
  margin-right: 8px;
}

.btn:nth-child(-n + 3) {
  padding-bottom: 15px;
}

.list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  padding: 0 15px 30px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .portfolio {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 215px;
    margin-right: 215px;
  }
}

.link-box {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .link-box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .link-box {
    width: 370px;
  }
}

.list-portfolio {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio:hover .img-text {
  transform: translateY(0%);
}

.list-portfolio:nth-child(3n) {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .list-portfolio:nth-child(2n+1) {
    margin-right: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .list-portfolio {
    margin-right: 28px;
  }
  .list-portfolio:nth-child(3n+3) {
    margin-right: 0px;
  }
}

.item-wrap {
  overflow: hidden;
  position: relative;
}

.img-text {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 77px 24px;
  background-color: var(--background-color-text-img);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  height: 101%;
  transform: translateY(100%);
  font-weight: normal;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .img-text {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .img-text {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */