.company {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 480px) {
      width: 480px;
      margin-right: auto;
      margin-left: auto;
    }

  @media screen and (min-width: 768px) {
      width: 768px;
    }

  @media screen and (min-width: 1200px) {
      width: 1200px;  
      padding-bottom: 94px;
      padding-top: 94px;
    }
}

.title-company {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 15px;
  text-align: center;

  @media screen and (min-width: 768px) {
      text-align: center;
    }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.list-company {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}

.box-company {
  width: 210px;
  height: 92px;
  margin: 15px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 52px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid #2196f3;
  }

  &:hover .svg-company {
    fill: var(--color-link);
  }

  @media screen and (min-width: 768px) {
  width: 226px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;
    padding: 16px 32px;
  }
}

.svg-company {
  max-width: 106px;
  height: 60px;
  fill: #afb1b8;
  text-align: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
