:root {
  --primary-body-color: #ffffff;
  --primary-color-title: #212121;
  --primary-color-paragraph: #757575;
  --color-link: #2196f3;
  --hero-button-hover: #188ce8;
  --footer-hero-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --header-logo: black;
  --header-web: #2196f3;
  --background-our-team: #f5f4fa;
  --color-icon-header: #757575;
  --background-color-text-img: rgba(33, 150, 243, 0.9);
  --background-color: var(--primary-body-color);
}
